<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de HTML, CSS e JavaScript</title>
</head>
<body>
    <h1>Quiz de HTML, CSS e JavaScript</h1>
    <form action="/submit-web-tech-quiz" method="POST">
        <p>Pergunta 1: O que significa HTML?</p>
        <input type="radio" id="q1-a" name="q1" value="a" data-resposta="a">
        <label for="q1-a">a) Hyper Text Markup Language</label><br>
        <input type="radio" id="q1-b" name="q1" value="b" data-resposta="b">
        <label for="q1-b">b) High Tech Magic Language</label><br>
        <input type="radio" id="q1-c" name="q1" value="c" data-resposta="c">
        <label for="q1-c">c) Hot Tub Machine Learning</label><br><br>


        <button type="submit">Enviar Respostas</button>
    </form>
</body>
</html>
